.grid-wrapper {
  height: 85vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  width: 10%;
  height: 10%;
  text-align: center;
  font-size: 50px;
  /* background-color: blue; */
}

.grid div.left {
  border-left: 1px solid red;
  /* background-color: red; */
}

.grid div.right {
  border-right: 1px solid red;
}

.grid div.bottom {
  border-bottom: 1px solid red;
}

.grid div.top {
  border-top: 1px solid red;
}